body{
    margin: 0;
    background-color: #B6F0F9;
    font-family: 'Courier New', Courier, monospace;
}

.content_countries{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cont_button{
    margin: 10px 0 10px 600px;
    .button_home2{
        margin: 10px;
        height: 50px;
        width: 70px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        border-style: solid;
        border-radius: 10px;
        border-width: 2px;
        border-color: aquamarine;
        background: rgb(29,27,29);
        background: linear-gradient(323deg, rgba(29,27,29,1) 0%, rgba(20,126,136,1) 100%);
        transition-duration: 0.8s;
    }
    .button_home1{
        display: none;
    }
}
.cont_button2{
    margin: 10px 0 10px 600px;
    .button_home1{
        margin: 10px;
        height: 50px;
        width: 70px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        border-style: solid;
        border-radius: 10px;
        border-width: 2px;
        border-color: aquamarine;
        background: rgb(29,27,29);
        background: linear-gradient(323deg, rgba(29,27,29,1) 0%, rgba(20,126,136,1) 100%);
        transition-duration: 0.8s;
    }
    .button_home2{
        margin: 10px;
        height: 50px;
        width: 70px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        border-style: solid;
        border-radius: 10px;
        border-width: 2px;
        border-color: aquamarine;
        background: rgb(29,27,29);
        background: linear-gradient(323deg, rgba(29,27,29,1) 0%, rgba(20,126,136,1) 100%);
        transition-duration: 0.8s;
    }
}

.boton_atras{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    height: 40px;
    cursor: pointer;
    margin-left: 40px;
    font-weight: bold;
}


.button_home1:hover{
    transition-duration: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 15px aquamarine, 0 0 15px aquamarine, 0 0 15px aquamarine;
    text-shadow: 3px 3px black;
}

.button_home2:hover{
    transition-duration: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 15px aquamarine, 0 0 15px aquamarine, 0 0 15px aquamarine;
    text-shadow: 3px 3px black;
}